[data-type="create-block/cta-block"] {
    .block-editor-inner-blocks {
        .block-editor-block-list__layout {
            display: flex;
            align-items: center;
            justify-content: center;

            [data-type="create-block/cta-button"] {
                margin: 0 10px;
            }
        }
    }
}
