@for $i from 1 through 10 {
    .wp-block-create-block-intro-block {
        .has-#{$i}-height {
            >img {
                @media screen and (max-width: 767px) {
                    height: calc(#{$i} * 10vh);
                }
            }

            +.overlay-gradient {
                .text-posng {
                    @media screen and (max-width: 767px) {
                        @if $i > 2 and $i < 4 {
                            bottom: 0;
                        }

                        @else if $i <= 2 {
                            top: 0;
                        }

                        @else {
                            bottom: calc(#{$i} * 2%);
                        }
                    }
                }
            }
        }
    }
}

@for $i from 1 through 10 {
    .wp-block-create-block-intro-block {
        .has-#{$i}-heightTablet {
            >img {
                @media screen and (min-width: 768px) and (max-width: 1023px) {
                    height: calc(#{$i} * 10vh);
                }
            }

            +.overlay-gradient {
                .text-posng {
                    @media screen and (min-width: 768px) and (max-width: 1023px) {
                        @if $i > 2 and $i < 4 {
                            bottom: 0;
                        }

                        @else if $i <= 2 {
                            top: 0;
                        }

                        @else {
                            bottom: calc(#{$i} * 2%);
                        }
                    }
                }
            }
        }
    }
}

@for $i from 1 through 10 {
    .wp-block-create-block-intro-block {
        .has-#{$i}-heightDesktop {
            >img {
                @media screen and (min-width: 1024px) {
                    height: calc(#{$i} * 10vh);
                }
            }

            +.overlay-gradient {
                .text-posng {
                    @media screen and (min-width: 1024px) {
                        @if $i > 2 and $i < 4 {
                            bottom: 0;
                        }

                        @else if $i <= 2 {
                            top: 0;
                        }

                        @else {
                            bottom: calc(#{$i} * 2%);
                        }
                    }
                }
            }
        }
    }
}