@for $i from 1 through 6 {
    .has-#{$i}-columns {
        &[data-type="create-block/items-block"] {
            display: block;
            .block-editor-inner-blocks {
                .block-editor-block-list__layout {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    [data-type="create-block/title-card"] {
                        width: calc(100% / #{$i});
                    }
                }
            }
        }
    }
}