@media screen and (max-width: 767px) {
    .mobile-flex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {

    // Generate column-span classes
    @for $i from 1 through 12 {
        .wb-col-span-#{$i} {
            grid-column: span $i / span $i;
        }
    }

    // Generate row-span classes
    @for $i from 1 through 12 {
        .wb-row-span-#{$i} {
            grid-row: span $i / span $i;
        }
    }


    // Generate grid-cols classes
    @for $i from 1 through 12 {
        .wb-grid-cols-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    }

    // Generate grid-rows classes
    @for $i from 1 through 12 {
        .wb-grid-rows-#{$i} {
            grid-template-rows: repeat($i, minmax(0, 1fr));
        }
    }

    .wb-grid-rows-0 {
        grid-template-rows: none;
    }
}